{% extends "E_LearnApp_Admin/home_page_admin.html" %}


{% block contenu %}
    <div class="flex-col w-full h-full px-32">
        <div class="flex items-center justify-center w-full h-12 my-6 text-3xl font-['Nunito'] text-white dark:text-gray-800 font-extrabold">lISTE DES SALLES DE CLASSE</div>
        <div class="grid grid-cols-3 gap-7 w-full h-full ">
            {% for classroom in classrooms %}
                <div class="max-w-sm h-auto bg-white border border-gray-200 rounded-lg dark:bg-gray-50 shadow-xl dark:border-gray-300">
                    <div class="p-5">
                        <a href="{% url 'edit_classroom' classroom.id_classroom %}">
                            <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-blue-950">{{ classroom.name_classroom }}</h5>
                        </a>
                        {% for val in classroom.subject.all %}
                        <p class="mb-3 font-semibold text-gray-900 dark:text-blue-950"> - {{ val.name_subject }} </p>
                        {% endfor %}
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}